<div class="container">
  <div class="p-grid">
    <form autocomplete="off" (ngSubmit)="search()">
      <div class="p-col-12">
        <h1>Pessoas</h1>
      </div>

      <div class="p-col-12">
        <label>Nome</label>
        <input class="p-col-12" name="name" [(ngModel)]="person.name" type="text" pInputText />
      </div>

      <div class="p-col-12">
        <button pButton type="submit" label="pesquisar"></button>
      </div>
    </form>
  </div>

  <div class="p-grid">
    <div class="p-col-12">
      <p-table [value]="persons" [responsive]="true" [paginator]="true" [rows]="person.size" [lazy]="true" [totalRecords]="linesPerPage" (onLazyLoad)="changePage($event)" #table>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5">
              Nenhuma pessoa encontrada
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Nome</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>Status</th>
            <th class="col-acoes-header"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-person>
          <tr>
            <td>
              <span class="p-column-title">Nome</span>
              {{ person.name }}
            </td>
            <td>
              <span class="p-column-title">Cidade</span>
              {{ person.address.city }}
            </td>
            <td>
              <span class="p-column-title">Estado</span>
              {{ person.address.state }}
            </td>
            <td>
              <span class="p-column-title">Status</span>
              <a href="javascript:;" [pTooltip]="person.status ? 'Desativar' : 'Ativar'" tooltipPosition="top" (click)="updateStatus(person)">
                {{ person.status ? "Ativo" : "Inativo" }}
              </a>
            </td>
            <td class="col-acoes">
              <span class="p-column-title"></span>
              <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></a>
              <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top" (click)="confirm(person)"></button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5">Nenhuma pessoa encontrada</td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="p-col-12">
      <a pButton label="Nova Pessoa" routerLink="/pessoas/novo"></a>
    </div>
  </div>
</div>
