<div class="container" style="max-width: 400px; margin: auto">

  <form autocomplete="off" #f="ngForm">
    <div class="p-grid p-fluid">

      <div class="p-col-12">
        <h1>Login</h1>
      </div>

      <div class="p-col-12">
        <input pInputText type="email" name="username" placeholder="E-mail" ngModel required #username>
      </div>

      <div class="p-col-12">
        <input pInputText type="password" name="password" placeholder="Senha" ngModel required #password>
      </div>

      <div class="p-col-12">
        <button pButton type="submit" label="Login" [disabled]="!f.valid" (click)="login(username.value, password.value); password.value = '' "></button>
      </div>

    </div>
  </form>

</div>
