<nav class="navbar">
  <div class="container">
    <div class="p-grid">
      <div class="p-col-12">
        <a href="javascript:;" class="navbar-toggle" (click)="showMenu()"><i class="pi pi-bars"></i></a>
      </div>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="!show">
    <li class="navbar-usuario" (click)="showMenu()">{{getNameUserLogged()}}</li>
    <li *ngIf="hasAuthority(['ROLE_ADMIN', 'ROLE_OPERATOR'])" class="navbar-menuitem" routerLinkActive="active"><a routerLink="/lancamentos">Lançamentos</a></li>
    <li *ngIf="hasAuthority(['ROLE_ADMIN', 'ROLE_OPERATOR'])" class="navbar-menuitem" routerLinkActive="active"><a routerLink="/pessoas">Pessoas</a></li>
    <li class="navbar-menuitem" routerLinkActive="active" (click)="logout()"><a href="#">Logout</a></li>
  </ul>
</nav>
