<div class="container">
  <div class="p-grid">
    <div class="p-col-12">
      <h1>Pessoas</h1>
    </div>

    <div class="p-col-12">
      <label for="description">Nome</label>
      <input class="p-col-12" id="description" type="text" pInputText />
    </div>

    <div class="p-col-12">
      <button pButton type="submit" label="pesquisar"></button>
    </div>
  </div>

  <div class="p-grid">
    <div class="p-col-12">
      <app-person-grid [pessoas]="pessoas"></app-person-grid>
    </div>

    <div class="p-col-12">
      <a pButton label="Nova Pessoa"></a>
    </div>
  </div>

</div>
