<div class="container">
  <div class="p-grid">
    <div class="p-col-12">
      <h1>Lançamentos</h1>
    </div>

    <div class="p-col-12">
      <label for="description">Descrição</label>
      <input class="p-col-12" id="description" type="text" pInputText />
    </div>

    <div class="p-col-12">
      <label for="" class="display-block">Vencimento</label>
      <input class="p-col" id="description" type="text" pInputText />
      <label for="">até</label>
      <input class="p-col" id="description" type="text" pInputText />
    </div>

    <div class="p-col-12">
      <button pButton type="submit" label="pesquisar"></button>
    </div>
  </div>

  <div class="p-grid">
    <div class="p-col-12">
      <app-book-entry-grid [bookEntry]="bookEntry"></app-book-entry-grid>
    </div>
    <div class="p-col-12">
      <a pButton label="Novo Lançamento"></a>
    </div>
  </div>

</div>
